<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %5p [LINE:%L]  %-55logger{55} | %m %n</pattern>
		</encoder>
	</appender>
	<logger name="com.tvajjala">
		<level value="DEBUG" />
	</logger>
	
	<logger name="org.springframework">
		<level value="INFO" />
	</logger>
	
	<logger name="org.hibernate.tool.hbm2ddl.TableMetadata">
		<level value="WARN" />
	</logger>
	
	<logger name="org.hibernate.cfg.beanvalidation.TypeSafeActivator">
		<level value="WARN" />
	</logger>
	
	
	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>